{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":18,"column":11},"end":{"row":19,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":19,"column":0},"end":{"row":19,"column":19},"action":"insert","lines":["invoice-details-lib"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":13},"end":{"row":3,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":47,"mode":"ace/mode/text"}},"timestamp":1764764915645,"hash":"981909e3e57e67c100e833537aba8c314317dec3"}