name: Django DevOps CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:

  # =====================================================================
  # 1️⃣ PRE-BUILD STAGE (Sonar, Java, Dependencies)
  # =====================================================================
  prebuild:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install OS Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq unzip wget

  # =====================================================================
  # 2️⃣ BUILD + TEST STAGE (Sonar Scan, Pylint, Django Tests)
  # =====================================================================
  build_and_test:
    runs-on: ubuntu-latest
    needs: prebuild

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      
      # -------------------------
      # Create Deployment Package
      # -------------------------
      - name: Create deployment ZIP
        run: |
          zip -r deploy.zip . -x "*.git*"

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: deploy-package
          path: deploy.zip

  # # =====================================================================
  # # 3️⃣ DEPLOYMENT STAGE (AWS Elastic Beanstalk)
  # # =====================================================================
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_test

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: deploy-package

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}
          application_name: Eb-cpp-x23335912
          environment_name: Eb-cpp-x23335912-env
          region: us-east-1
          version_label: "build-${{ github.run_number }}"
          deployment_package: deploy.zip
          wait_for_deployment: false
